<VirtualHost *:80>
        ServerName meta.DOMAIN
        DocumentRoot /srv/meta.DOMAIN
        ScriptAlias / /srv/meta.DOMAIN/
        TimeOut 70

        <Directory /srv/meta.DOMAIN>
                AllowOverride None
                Options +ExecCGI -MultiViews
                Require all granted
        </Directory>
</VirtualHost>
