[Unit]
Description=Runs configured scripts once on boot
After=network.target auditd.service systemd-resolved.service nss-lookup.target

[Service]
ExecStart=/bin/bash -c '/usr/local/bin/runonce >> /var/log/runonce.log 2>&1'

[Install]
WantedBy=multi-user.target
