module sandbox_extra 1.0;

require {
    type passwd_file_t;
    type proc_t;
    type sandbox_t;
    class dir read;
    class file { open read };
}

allow sandbox_t passwd_file_t:file { open read };
allow sandbox_t proc_t:dir read;
allow sandbox_t proc_t:file { open read };