module sandbox_extra 1.0;

require {
    type NetworkManager_var_run_t;
    type passwd_file_t;
    type proc_t;
    type sandbox_t;
    class dir { read search };
    class file { open read };
}

allow sandbox_t NetworkManager_var_run_t:dir search;
allow sandbox_t passwd_file_t:file { open read };
allow sandbox_t proc_t:dir read;
allow sandbox_t proc_t:file { open read };
