[Unit]
Description=Frontails job that serves TIO test logs on the web
After=network.target auditd.service

[Service]
ExecStart=/bin/sh -c 'frontail -p 81 -n 300 -t dark --ui-highlight --ui-highlight-preset /root/TioTests/frontail.json /var/log/helloworld.backend.tryitonline.net.log'
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=multi-user.target
